<%- include('partials/header') %>

<body>
  <section class="container">
    <h1><%= title %></h1>
    <div>
        <h3>Pick your poison</h3>
        <div class="image">
          <img src="https://media.giphy.com/media/3o6ZtkmiFtpBvii6uQ/giphy.gif" alt="Taco gif">
        </div>
        <div class="image">
          <img src="https://www.piroshkybakery.com/images/piroshky/Piroshky_Piroshky-Cherry_White_Chocolate.jpg" alt="Piroshki ">
        </div>
    </div>
  </section>
</body>

<%- include('partials/footer') %>