<%- include('partials/header') %>

<body>
  <section>
    <h1><%= title %></h1>
    <div>
        <h3>Pick your poison</h3>
        <div class="image">
          <img src="" alt="">
        </div>
        <div class="image">
          <img src="" alt="">
        </div>
    </div>
  </section>
</body>

<%- include('partials/footer') %>